/ConvexDecomposition.exe.pdb
/ConvexDecomposition.ilk
/ConvexDecompositionDEBUG.exe
/ConvexDecompositionDEBUG.exe.pdb
/ConvexDecompositionDEBUG.ilk
/bin/win32/DynamicSystemLog.txt
/compiler/vc12win32
/compiler/vc12win64
/HACD/public/*.bak
/VHACD/public/*.bak
/compiler/xpj/*.bak
/compiler/vc14win64/.vs/ConvexDecomposition/v14/.suo
/compiler/vc14win64/ConvexDecomposition.VC.db
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.command.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.read.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.write.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/ConvexDecomposition.lastbuildstate
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.command.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.read.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.write.1.tlog
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDecomposition.log
/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDecompositionDEBUG.Build.CppClean.log
/compiler/vc14win64/x64/ConvexDecomposition/debug/MergeHulls.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/NvRenderDebugBinding.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/TestHACD.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/VHACD-ASYNC.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/VHACD.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/btAlignedAllocator.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/btConvexHullComputer.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/main.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/vc140.pdb
/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdICHull.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdManifoldMesh.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdMesh.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdVolume.obj
/compiler/vc14win64/x64/ConvexDecomposition/debug/wavefront.obj
/meshes/deer_bound.rec
/*.bak
/meshes/*.bak
